@{
    ViewData["Title"] = "Creditos";
}
<header class="header-epico">
    <nav class="nav-epica">
        <a href='@Url.Action("Index", "Home")' class="logo-epico">
            <img src="~/img/LOGO.png" alt="Logo" class="logo-imagen">
        </a>
        <p class="titulo-epico">"LA PROFECÍA DEL FARAÓN"</p>
        <ul class="nav-lista">
            <li class="nav-item"><a href='@Url.Action("Tutorial", "Home")' class="nav-enlace">Tutorial</a></li>
            <li class="nav-item"><a href='@Url.Action("Creditos", "Home")' class="nav-enlace">Créditos</a></li>
        </ul>
    </nav>
</header>
<h2>Integrantes del Grupo:</h2>
<div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3 mb-4">
                <div class="card">
                    <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="Lucas Benezra">
                    <div class="card-body text-center">
                        <h5 class="card-title">Lucas Benezra</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-4">
                <div class="card">
                    <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="Indiana Sasson">
                    <div class="card-body text-center">
                        <h5 class="card-title">Indiana Sasson</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-4">
                <div class="card">
                    <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="Sol Izraelewicz">
                    <div class="card-body text-center">
                        <h5 class="card-title">Sol Izraelewicz</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-4">
                <div class="card">
                    <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="Milo Landivar">
                    <div class="card-body text-center">
                        <h5 class="card-title">Milo Landivar</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>