@{
    ViewData["Title"] = "Creditos";
}
<header>
    <nav>
        <a href='@Url.Action("Index", "Home")'>
            <img src="~/img/Logo.png" alt="Logo">
        </a>
        <p>"LA PROFECÍA DEL FARAÓN"</p>
        <ul>
            <li><a href='@Url.Action("Tutorial", "Home")' class="nav-enlace">Tutorial</a></li>
            <li><a href='@Url.Action("Creditos", "Home")' class="nav-enlace">Créditos</a></li>
        </ul>
    </nav>
</header>

<h2 class="creditos">Integrantes del Grupo:</h2>
<!-- Inicio Card -->
<div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3 mb-4">
                <div class="card">
                    <img src="~/img/Lucas.jpeg" class="card-img-top" alt="Lucas Benezra">
                    <div class="card-body text-center">
                        <h5 class="card-title">Lucas Benezra</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-4">
                <div class="card">
                    <img src="~/img/Indiana.jpeg" class="card-img-top" alt="Indiana Sasson">
                    <div class="card-body text-center">
                        <h5 class="card-title">Indiana Sasson</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-4">
                <div class="card">
                    <img src="~/img/Sol.jpeg" class="card-img-top" alt="Sol Izraelewicz">
                    <div class="card-body text-center">
                        <h5 class="card-title">Sol Izraelewicz</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-4">
                <div class="card">
                    <img src="~/img/Milo.jpeg" class="card-img-top" alt="Milo Landivar">
                    <div class="card-body text-center">
                        <h5 class="card-title">Milo Landivar</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Fin Card -->