@{
    ViewData["Title"] = "Habitación 4";
}
<section class="sala-egipto">
    <div id="contador">7:00</div>
    <div class="intro-container">
        <h1>Bienvenidos a la habitación 4 de La Profecía Egipcia</h1>
        <p>Cuando la mini pirámide te permitió presionar el botón, el objeto se abrió y te brindó una llave con una forma peculiar. No sabías que podría abrir esta llave, por lo cual, decidiste seguir recorriendo la pirámide, hasta que te encontraste con una puerta ¡La PUERTA FINAL! ¡La que tendría todo el oro! ¡La habitación que te haría millonario! Es así, como abres la puerta con la llave previamente encontrada, pero el cuarto no estaba lleno de oro como te lo habías imaginado ¡Había otra puerta dentro! Y para poder abrirla necesitabas resolver el siguiente acertijo:</p>
    </div>

    <img src="~/img/Acertijo4.png" alt="Acertijo" class="imagen-acertijo">

    <div class="form-container">
        <p class="respuesta">Respuesta:</p>
        
        <form method="post" action="@Url.Action("Habitacion", "Home")" class="formulario-respuesta">
            <input type="hidden" name="sala" value="4">
            <input type="text" name="clave" class="entrada-clave" placeholder="Introduce tu respuesta aquí">
            <input type="submit" value="Enviar Respuesta" class="btn btn-respuesta">
        </form>
        
        <button class="btn btn-pista" id="habitacion4" aria-label="Obtener pista">Pista</button>
        <p class="mensaje-error">@ViewBag.MensajeError</p>
    </div>
</section>