    @{
    ViewData["Title"] = "Habitación 4";
}

<h1>Bienvenidos a la habitacion 4 de La Profecía Egipcia</h1>

<h4> Cuando la mini piramide te permitió presionar el boton,  el objeto se abrió y te brindó una llave con una forma peculiar. No sabías que podría abrir esta llave, por lo cual, decidiste seguir recorriendo la piramide, hasta que te encontraste con una puerta ¡La PUERTA FINAL! ¡La que tendría todo el oro! ¡La habitación que te haría millonario! Es así, como abres la puerta con la llave previamente encontrada, pero el cuarto no estaba lleno de oro como te lo habías imaginado ¡Había otra puerta dentro! Y para poder abrila necesitabas resolver el siguiente acertijo:</h4>
<img src="~/img/Acertijo4.png" alt="Acertijo">
<form method="post" action="@Url.Action("Habitacion", "Home")" >
    <input type="hidden" name="sala" value=4>
    <input type="text" name="clave">
    <input type="submit" value="Enviar Respuesta">
</form>
<button class="Pista4">Pista</button>

<p>@ViewBag.MensajeError</p>