@{
    ViewData["Title"] = "Habitación 3";
}
<h1>Bienvenidos a la habitacion 3 de La Profecía Egipcia</h1>
<h4>Luego de que la pared haya sido desbloqueada en el piso se encontraba un pequeño objeto similar a una piramide, solamente que este tenía muchos triangulos y un boton, el cual no podíua ser presionado hasta determinar cuantos triangulos había en esta piramide, así que descubrelo!</h4>
<img src="~/img/Acertijo3.png" alt="Acertijo">
<form method="post" action="@Url.Action("Habitacion", "Home")" >
    <input type="hidden" name="sala" value=3>
    <input type="text" name="clave">
    <input type="submit" value="Enviar Respuesta">
</form>
<button class="Pista3">Pista</button>

<p>@ViewBag.MensajeError</p>