@{
    ViewData["Title"] = "Habitación 2";
}
<section class="sala-egipto">
    <div class="intro-container">
        <h1>Bienvenidos a la habitación 2 de La Profecía Egipcia</h1>
        <p>Luego de resolver el primer acertijo, una puerta de la pirámide decide abrirse, pero dentro de ella solo se encontraba una pared con iconos sumándose. Tu objetivo es encontrar el resultado final, para que así, la pared pueda desbloquearse y tu camino junto a Indiana Jones pueda continuar.</p>
    </div>

    <img src="~/img/Acertijo2.jpg" alt="Acertijo" class="imagen-acertijo">

    <div class="form-container">
        <form method="post" action="@Url.Action("Habitacion", "Home")" class="formulario-respuesta">
            <input type="hidden" name="sala" value="2">
            <input type="text" name="clave" class="entrada-clave" placeholder="Introduce tu respuesta aquí">
            <input type="submit" value="Enviar Respuesta" class="btn btn-respuesta">
        </form>
        <button class="btn btn-pista" aria-label="Obtener pista">Pista</button>
        <p class="mensaje-error">@ViewBag.MensajeError</p>
    </div>
</section>