@{
    ViewData["Title"] = "Index";
}
<header>
        <nav>
            <a href='@Url.Action("Index", "Home")'>
                <img src="~/img/Logo.png" alt="Logo">
            </a>
            <p>"LA PROFECÍA DEL FARAÓN"</p>
            <ul>
                <li><a href='@Url.Action("Tutorial", "Home")' class="nav-enlace">Tutorial</a></li>
                <li><a href='@Url.Action("Creditos", "Home")' class="nav-enlace">Créditos</a></li>
            </ul>
        </nav>
</header>
<main>
    <div>
        <h2>LA PROFECÍA DEL FARAÓN</h2>
        <p>Ayudá a Indiana Jones a descubrir los secretos que el Faraón esconde</p>
    </div>
        
    <section>
        <img src="~/img/FotosDescriptivas.jpg" alt="Descripción">
        <a href='@Url.Action("Comenzar", "Home")' class="btn btn-outline-danger" tabindex="-1" role="button" aria-disabled="true">Comenzar</a>
    </section>
</main>
