@{
    ViewData["Title"] = "Tutorial";
}
<h4>En "Indiana Jones y la Profecía Egipcia", te embarcas en una misión llena de misterio y peligro. Un antiguo templo egipcio ha sido descubierto, y en su interior yace una profecía que podría desencadenar un poder oscuro sobre el mundo.
Como Indiana Jones, tienes solo 60 minutos para descifrar los secretos del templo. Las sombras se mueven y el tiempo se agota mientras fuerzas desconocidas tratan de detenerte. ¿Podrás resolver los enigmas y escapar antes de que el templo colapse y el destino se selle?
Prepárate para una aventura donde cada segundo cuenta.</h4>
